#header{
    
    white-space: nowrap;
    
}

body { padding: 0; margin: 0; width: 100%; height: 100% }


.stretch{
	width: 1900px; padding: 0; margin: 0;
}

.gray{
	color: gray;
	font-family: arial;
/*no one will ever guess what this class does*/
}

.elinks a{
    color: white;
    text-decoration: none;
    overflow: hidden;
    font: arial;
    
}

.ebutton{
	font-family: arial;
	padding-top: 15px; 
    padding-left: 20px;
    padding-right: 25px;
    font-size:20px ;
    margin-right: 10px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: gray;
     height: 90px;
    width: 275px;
    border-bottom: ridge 7px black;
   
}

.elinks{
	padding:0px;
	margin:0px;
	margin-top: 50px;
    overflow: hidden;
    height: 200px;
    display: flex;
    float: left;
    clear: both;
}


#email2{
	margin-top: 100px;
	margin-left: 150px;
}

#email2 h2{
	font-size: 30px;
}

.bulk_text{
	width: 975px;
}

ul{
	list-style: none;
}
