#header-container{
    position: absolute;
    height: 100px;
    width: 1900px;
    
    white-space: nowrap;
   
   
}

a{
    color: white;
    text-decoration: none;
    overflow: hidden;
    
}


.hbutton:hover{
    background-color: orangered!important;
}

ol{
    display: inline-block;
    padding: 0px;

}


#top-header{
    height: 60px;
    display: flex;
    float: left;
    clear: both;
    width:1900px;
    background-color: black;
    
}

#bottom-header{
    height: 60px;
    display: flex;
   float: left;
   clear: both;
   width:1900px;
    background-color: #1E1D1D;
    
    
}

#bottom-header ol{
    display: inline-block;
    background-color: #1E1D1D;
}

.hbutton{
    border-left:1em solid transparent;
    border-right:1em solid transparent;
    font-size:25px ;
    padding: 2px;
    margin-right: 1px;
    color: white;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
   
}

.bold{
    font-weight: bold;
}



.mid-blank{
    margin-right: 2px;
}

.first{
    margin-left:150px;

}

#last{
    margin-right: 2px;
}

.image{
    margin-top: 10px;
}
