

#header-container{
    width: 100%;
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
   
   
}

#header-container ul{
    list-style: none;
}

  

.hbutton a{
    text-decoration: none;
    overflow: hidden;
    display: block;
    height: 100%;
    width: 100%;
}

.text{
    margin-top: 15px!important;
}

.hbutton:hover{
    background-color: orangered!important;
}

.hbutton a:visited{
    font-weight: normal!important;
  
}

li{
    display: inline-block;
    padding: 0px;

}

.header {
 
    margin:0px;
    overflow: hidden;
    height: 60px;
    display: flex;
    float: left;
    clear: both;
    width:100%;
}

#top-header{
    color: #14395D;
    background-color: white;
    
}

#bottom-header{
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom-width: 5px;
    border-bottom-color:#14395D;
    border-bottom-style: solid;
}



.hbutton{
    font-size:18px ;
    font-family: Franklin Gothic Medium;
    padding: 2px;
    margin-right: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    height: 100%;
   
   
}

.hbutton .material-icons{
    padding: 0px;
    font-size:50px;
}

.bold{
    font-weight: bold;
}



.mid-blank{
    margin-right: 2px;
}

.first{
    margin-left:150px;

}

#last{
    margin-right: 2px;
}

.image{
    margin-top: 10px;
}

#home{
    background-color: #14395D;
    font-size: 50px;
}