

#header-container{
    width: 100%;
    margin: 0px;
    white-space: nowrap;
}

#header-container ul{
    z-index: 10;
    position: relative;
    list-style: none;
    padding-left: 7.6%;
}

  

.hbutton a{
    text-decoration: none;
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 100%;
}



.first{
    padding-left:0px!important;
}

.hbutton a:visited{
    font-weight: normal!important;
  
}

li{
    display: inline-block;
    padding: 0px;

}

.header {
    margin:0px;
    overflow: hidden;
    display: flex;
    float: left;
    clear: both;
    width:100%;
}

#top-header{
    height: 5%;
    color: #14395D;
    background-color: white;
}

#top-header .hbutton{
    padding-top:0.5%;
    /* padding-bottom: 0.5%; */
}

#top-header .hbutton:hover{
    background-color: #14395D;
    color: white;
}


#bottom-header{
    height: 6.3%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom-width: 1.5%;
    border-bottom-color:#14395D;
    border-bottom-style: solid;
}

#bottom-header .hbutton{
    padding-top:1%;
}

#bottom-header .hbutton:hover{
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
}


.hbutton{
    font-size: 111%;
    font-family: arial;
    /* padding: 2px; *//* margin-right: 1%; *//* padding-bottom: 0; */
    padding-left: 1.5%;
    padding-right: 1.5%;
    height: 100%;}

.hbutton .material-icons{
    padding: 0px;
    font-size:auto;
    height:100%;
    width: 2%;
}

#user{

    margin-left:10%;
    height:200%;
    padding-left:0.25%;
    padding-right:0.25%;
}

#message{
    height:100%;
    padding-left:0.25%;
    padding-right:0.25%;
} 

#search{
    height:100%;
    padding-left:0.25%;
    padding-right:0.25%;
}

.bold{
    font-weight: bold;
}



.mid-blank{
    margin-right: 2px;
}


#last{
    margin-right: 2px;
}

.image{
    margin-top: 10px;
}

#home{
    background-color: #14395D;
    padding-left:0.5%;
    padding-right:0.5%;
    padding-top:0.5%!important;
    padding-bottom: 0.5%;
}

#home:hover{
    background-color: white;
    color:#14395D!important;
}