body { padding: 0; margin: 0; width: 100%; height: 100% }


#part1{
    width: 100%;
    padding-bottom: 5%;
    padding-top: 0%;
    position: fixed;
    top: 37%;
    height: 34em;
}

.content{
    display: inline-flex;
    width: 100%;
    background-color: #14395D;
}

.qzone {
    margin-right: 0px;
    /* padding-top: 70px; */
    padding-left: 7.6%;
    width: 40%;
    height: 35%;
    position: relative;
}


#footer{
    position: fixed;
    bottom: 0;
    height: 22%;
    }

.question_box{
    color: white;
    /* width: 21%; */
}

.mzone{
    margin-top: 1.5%;
    margin-left: 11%;
    /* margin-bottom: 25%; */
    width: 16%;
    height: 48%;
    background-color: white;
    font-weight: bold;
    font-family: arial;
    padding-left: 1%;
    padding-right: 1%;
    /* margin-right: 50px; */
}

.matters{
    font-family: arial;
    padding-bottom: 1%;
    font-size: 100%;
    color: #63666A;
    /* letter-spacing: 0; */
    font-weight: bold;
    margin-top: 4%;
    border-bottom-style: dotted;
    border-bottom-color: gray;
}

.info{
    font-family: arial;
    font-size: 92%;
    color: #63666A;
}

.question_box{
    padding-top: 5%;
    font-size: 100%;
    width: 50%;
    font-family: arial;
    /* margin-right: 2%; */
    /* height: 97%; */
}

.answer_box a{
    font-weight:bold;
    text-decoration: none;
    font-family: arial;
    font-size: 100%;
    font-weight: bold;
    letter-spacing: 0;
    display: block;
    height: 92%;
    width: 100%;
    border-radius:7px;
    border: 2px solid;
    /* margin-bottom: 29px; */
    position: relative;
}

.answer_box{position: relative;width: 100%;height: 3em;margin-bottom: 35px;/* padding-left: 5px; */margin-bottom: 5%;}

.answer{
    padding-left: 20px;
    padding-top: 5px;
    background-color: #F0662F;
    color: white;
   
}

.answer:hover{
    background-color: white;
    color: #F0662F;
}

.answer:empty{
display:none;
}

