body { padding: 0; margin: 0; width: 100%; height: 100% }

.content{
    display: inline-flex;
    width: 100%;
    height: 500px;
    padding-bottom: 50px;
    background-color: #14395D;
}

.qzone{
    margin-right: 0px;
    margin-left:15%;
    padding-top: 70px;
    padding-left: 103px;
    /* color:white; */
    width: 815px;
}

.question_box{
    color: white;
    width: 1000px;
}

.mzone{
    width: 400px;
    height: 200px;
    background-color: white;
    font-weight: bold;
    font-family: arial;
    padding-left: 30px;
    padding-right: 15px;
    /* margin-right: 50px; */
}

.matters{
    font-family: FranklinGothic-Book;
    font-size: 23px;
    color: #63666A;
    /* letter-spacing: 0; */
    margin-top: 15px;
    border-bottom-style: dotted;
    border-bottom-color: gray;
    border-bottom-width: 2px;
}

.info{
    margin-top:30px;

}

.question_box{
    font-size:24px;
    width: 600px;
    font-family: arial;
}

.answer_box a{
    font-weight:bold;
    text-decoration: none;
    font-family: FranklinGothic-Medium;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    display: block;
    height: 100%;
    width: 100%;
    border-radius:7px;
    border: 2px solid;
    /* margin-bottom: 29px; */
}

.answer_box{

    height: 50px;
    width: 300px;
    margin-bottom: 35px;
    padding-left: 5px;
}

.answer{
    padding-left: 20px;
    padding-top: 5px;
    background-color: #F0662F;
    color: white;
}

.answer:empty{
display:none;
}