<html>

    <head>
    	 <link rel="stylesheet" type="text/css" href="../css/email.css">
    </head>

    <body >
        <nav id="email2" class= "stretch">
        
        <div class="bulk_text">
        <h2 class="gray">Sending technical data to recipients in the UK
        </h2>
        <p class="gray"> 
        To ensure that we do not Lorem ipsum dolor sit amet, autem ullum duo eu, idque meliore dolorem sed an. 
        </p>
        <p class= "gray">
        Certain levels of Lorem ipsum dolor sit amet, autem ullum duo eu, idque meliore dolorem sed an. Ex mea exerci homero maiestatis. Eum te putant tractatos scribentur. 
        </p>
        <p class= "gray">
        Therefore Lorem ipsum dolor sit amet, autem ullum duo eu, idque meliore dolorem sed an. 
        </p>
        </div>


        <ul class= "elinks">
        	<li class="ebutton"><a href="Sharing_info">Sharing info with third parties</a></li>
        	<li class="ebutton"><a href="Protect_Password">How to password protect</a></li>
        	<li class="ebutton"><a href="Get_Support">Get Support</a></li>


        </ul>
        



        </nav>
           
    


    </body>

</html>