
<html>



    <head>
       <link rel="stylesheet" type="text/css" href="../css/email.css">
        <title>Email</title>
    </head>

    <body>
 
        <div id= "email1" class="stretch"> 

        <div class="tbox">
        	
        	<h1>
        		Sending emails
        	</h1>
        	<h2>
            As a UK based company making military goods, we need to be compliant with UK Export Control regulations. 
            Please answer the questions below to help decide which method is best for your requirements.
        	</h2>

        </div>

        <div>
            <img class ="himage" src= "../assets/herobanner_dna.png">
        </div>


        </div>
           
      



    </body>



</html>