
<html>



    <head>
       <link rel="stylesheet" type="text/css" href="../css/email.css">
        <title>Email</title>
    </head>

    <body>
 
        <div id= "email1" class="stretch"> 

        <div class="tbox">
        	
        	<h1>
        		Sending emails
        	</h1>
        	<h2>
        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta at leo non ornare. Sed arcu ligula, varius a fermentum vel, interdum vitae risus. Duis pretium ullamcorper tincidunt. 
        	</h2>

        </div>


        </div>
           
      



    </body>



</html>