
<html>



    <head>
       <link rel="stylesheet" type="text/css" href="../css/footer.css">
        
    </head>

    <body>
 
       <footer id="footer" class="stretch" id="footer">
       <div class="text_box">
      	<h2>
      		Latest news From the Export Control Transformation Team
      	</h2>
      	<ul>
      	<li class="sub-text bold">Right now</li>
      	<p class="sub-text">
      	We are working on an exciting new tool-watch this space
      	</p>
      	<li class="sub-text bold">This week</li>
      	<p class="sub-text">
      	We are preparing ourselves for next weeks workshops
      	</p>
      	</ul>

      	</div>
       </footer>
           
      



    </body>



</html>
