
<html>



    <head>
       <link rel="stylesheet" type="text/css" href="../css/footer.css">
        
    </head>

    <body>
 
       <footer id="footer" class="stretch" id="footer">
	   
        
        <div id = "news_container">

            <h2>Latest</h2>
            <ol class= "news">
                <li class "nitem"><a href ="Content2">Sending or recieving emails from 3rd parties.</a>
                    <p class = "date">3 days ago</p></li>
                    <li class "nitem"><a href ="Content2">We're currently working on a new tool- watch this space!</a>
                        <p class = "date">6 days ago</p></li>
                        <li class "nitem"><a href ="Content3">This week we're been preparing ourselves for a series of workshops.</a>
                            <p class = "date">1 week ago</p></li>
            </ol>



        </div>
        <div id="link_container">

			<ul class= "links">
					<li class="fbutton ftext"><a href ="Recently_Visted">Accessibility</a></li>
					<li class="fbutton ftext"><a href ="Register_Technical_Date">Terms & Conditions</a></li>
					<li class="fbutton ftext"><a href ="Raise_a_Query">Privacy</a></li>
					<li class="fbutton ftext last"><a href= "Exhibitions">Sitemap</a></li>
					
				</ul>
            </div>

       </footer>
           
      



    </body>



</html>
