
<html>



    <head>
       <link rel="stylesheet" type="text/css" href="../css/footer.css">
        
    </head>

    <body>
 
       <footer id="footer" class="stretch" id="footer">
	   
		
			<ul class= "links">
					<li class="fbutton ftext"><a href ="Recently_Visted">Recently Visted</a></li>
					<li class="fbutton ftext"><a href ="Register_Technical_Date">Register Technical Date</a></li>
					<li class="fbutton ftext"><a href ="Raise_a_Query">Raise a Query</a></li>
					<li class="fbutton ftext last"><a href= "Exhibitions">Exhibitions & Conferences</a></li>
					
				</ul>


       </footer>
           
      



    </body>



</html>
