

<html>
<head>

        <link rel="stylesheet" type="text/css" href="../css/header.css">
 
        <style>
            
        </style>

   
</head>
 <body >

<header id= "header-container">

    

  
        <ul class="top header" id="top-header">
            <li class="hbutton first"><a href ="Recently_Visted">Recently Visted</a></li>
            <li class="hbutton bold"><a href ="Register_Technical_Date">Register Technical Date</a></li>
            <li class="hbutton bold"><a href ="Raise_a_Query">Raise a Query</a></li>
            <li class="hbutton bold"><a href= "Exhibitions">Exhibitions & Conferences</a></li>
            <li class="hbutton bold"><a href="hbutton_bold"> Aquire licences</a></li>
            <li class="mid-blank"></li>
            <li class="first image" id="user"><a href="a"><img src="../assets/person.png" alt="user"></a></li>
            <li class="image"><a href="a"><img src="../assets/message.png" alt="message"></a></li>
            <li class="image"><a href="a"><img src="../assets/search.png" alt= "search"></a></li>
        </ul>
        <ul class="bottom header" id="bottom-header">
                <li class="first image" id="home"><a href="a"></a><img src="../assets/home.png" alt="home"></li>
                <li class="hbutton bold"><a href="A-Zof_Export_Control">A-Z of Export Control</a></li>
                <li class="hbutton bold"><a href="Complience_quotes">Complience quotes</a></li>
                <li class="hbutton bold"><a href="Support">Support</a></li>
                <li class="hbutton bold"><a href="About_export_control">About export control</a></li>

        </ul>

  

</header>
</body>
</html>

