<html>
<head>  

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="stylesheet" type="text/css" href="../css/header.css">
 
        <style>
            
        </style>

  
</head>
 <body >

<header id= "header-container">

    

  
        <ul class="top header" id="top-header">
            <li class="hbutton first bold"><a href ="Recently_Visted">Recently Visted</a></li>
            <li class="hbutton bold"><a href ="Register_Technical_Date">Register Technical Date</a></li>
            <li class="hbutton bold"><a href ="Raise_a_Query">Raise a Query</a></li>
            <li class="hbutton bold"><a href= "Exhibitions">Exhibitions & Conferences</a></li>
            <li class="hbutton bold"><a href="hbutton_bold"> Aquire licences</a></li>
            <li class="mid-blank"></li>
            <li class= "hbutton first" id="home"><a href="home"><i class="material-icons">account_circle</i></a></li>
            <li class= "hbutton" id="message"><a href="message"><i class="material-icons">message</i></a></li>
            <li class= "hbutton" id="search"><a href="search"><i class="material-icons">search</i></a></li>
        </ul>
        <ul class="bottom header" id="bottom-header">
                <li class= "hbutton first" id="home"><a href="home"><i class="material-icons">home</i></a></li>
                <li class="hbutton bold"><a href="A-Zof_Export_Control">A-Z of Export Control</a></li>
                <li class="hbutton bold"><a href="Complience_quotes">Complience quotes</a></li>
                <li class="hbutton bold"><a href="Support">Support</a></li>
                <li class="hbutton bold"><a href="About_export_control">About export control</a></li>

        </ul>

  

</header>
</body>
</html>

