<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/question.css">
    <script src="../assets/control2.js"></script>

    <body>
        <header id="header">
            {% include header.html %}
        </header>

        <div class = "content">

                {{ content }}

        </div>


        <div class="content" id="part1"> 


            <div class= "qzone">
        <div class="question_box" id="1">
        <p class="question">{{page.question1.text}}</p>
       
        <div class="answer_box" n="{{page.question1.answer1.link}}">
            <a class="answer">{{page.question1.answer1.text}}</a>
        </div>
        <div class="answer_box" n="{{page.question1.answer2.link}}">
            <a class="answer" >{{page.question1.answer2.text}}</a>
        </div>
        <div class="answer_box" n="{{page.question1.answer3.link}}">
            <a class="answer" >{{page.question1.answer3.text}}</a>
        </div>
    </div>

    <div class="question_box" id="2">
        <p class="question">{{page.question2.text}}</p>
       
        <div class="answer_box" n="{{page.question2.answer1.link}}">
            <a class="answer" >{{page.question2.answer1.text}}</a>
        </div>
        <div class="answer_box" n="{{page.question2.answer2.link}}">
            <a class="answer" >{{page.question2.answer2.text}}</a>
        </div>
        <div class="answer_box" n="{{page.question2.answer3.link}}">
            <a class="answer" >{{page.question2.answer3.text}}</a>
        </div>
    </div>

    <div class="question_box" id="9">
            <p class="question">{{page.question9.text}}</p>
           
            <div class="answer_box" n="{{page.question9.answer1.link}}">
                <a class="answer" >{{page.question9.answer1.text}}</a>
            </div>
            <div class="answer_box" n="{{page.question9.answer2.link}}">
                <a class="answer" >{{page.question9.answer2.text}}</a>
            </div>
            <div class="answer_box" n="{{page.question9.answer3.link}}">
                <a class="answer" >{{page.question9.answer3.text}}</a>
            </div>
        </div>

        <div class="question_box" id="10">
                <p class="question">{{page.question10.text}}</p>
               
                <div class="answer_box" n="{{page.question10.answer1.link}}">
                    <a class="answer" >{{page.question10.answer1.text}}</a>
                </div>
                <div class="answer_box" n="{{page.question10.answer2.link}}">
                    <a class="answer" >{{page.question10.answer2.text}}</a>
                </div>
                <div class="answer_box" n="{{page.question10.answer3.link}}">
                    <a class="answer" >{{page.question10.answer3.text}}</a>
                </div>
            </div>

</div>

    <div class= "mzone">


        <p class= "matters">{{page.information.title}}</p>
        <p class= "info">{{page.information.text}}</p>

    </div>

</div>



        <footer id="footer">
            {% include footer.html %}
        </footer>
    </body>



</html>
