<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" type="text/css" href="../css/question.css">

    <body>
        <header id="header">
            {% include header.html %}
        </header>

        <div class="content"> 


        <div class="question_box">
        <p class="question">{{page.question}}</p>
        </div>
        <div class="answer_box">
            <a class="answer" href="{{page.answer1.Link}}">{{page.answer1.Text}}</a>
        </div>
        <div class="answer_box">
            <a class="answer" href="{{page.answer2.Link}}">{{page.answer2,Text}}</a>
        </div>
        <div class="answer_box">
            <a class="answer" href="{{page.answer3.Link}}">{{page.answer3.Text}}</a>
        </div>
    </div>






        <footer id="footer">
            {% include footer.html %}
        </footer>
    </body>



</html>